html{
    background-image: linear-gradient(to bottom, pink, lightyellow);
    background-repeat: no-repeat;
}
body {
  margin: 10px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.alert{
  position: fixed;
  top: 0;
  width: 100%
}

.title {
  display: inline-block;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  width: 95%;
}

.main-menu{
  display: flex;
  font-size: 40px;
}

.menu-item{
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.main-header{
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%
}

.container {
  margin: 2px auto;
  border: 5px ridge cadetblue;
  border-radius: 10px;
  max-width: 95%;
  padding: 5px;
  min-width: 50%;
}

.header {
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.panel-heading{
  border-radius: 10px
}
.post-title{
  background-color: lightgray;
  width: 100%;
  font-size: 30px ;
}

.post-body{
  color: darkslategrey;
}

.field{
  display: flex;
  width: 100%;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
  color: green
}

.icon-btn {
  background: none;
  border: none;
}

.close-create-post {
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.create-post-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.create-post-details {
  margin-left: 20px;
}

.create-post-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}


.create-post-details button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}

/* ListContacts */

.list-posts {
  padding-top: 60px;
}
.list-posts-top {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d8df;
  display: flex;
}

.add-post {
  display: block;
  width: 73px;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

.showing-post {
  text-align: center;
  margin: 20px 0;
}
.showing-post button {
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.post-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-list-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .post-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}


.post-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-remove {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.list {
  background: none;
  font-size: 18px;
  border: none;
}

.main {
  margin-top: 0;
  display: flex;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-grid {
  flex: 1;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
}

.post {
  font-size: 23px;
  display: flex;
  justify-content: left;
}

.post-left{
  font-size: 20px;
  margin-right: 20px;
  padding-right: 10px;
  border-right: 2px solid lightblue;
}

.post svg {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.search-container h3 {
  text-align: center;
}

.item-input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}

.posts {
  display: flex;
}

.loading {
  align-self: center;
  margin: 0 auto;
}

.days h3 {
  padding: 50px 0;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.post-list img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 3px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-list li {
  font-size: 24px;
  padding: 5px;
}

.post-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-item img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.post-item button {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
}

.body-field {
  width: 100;
}